<div>
  <h1 class="text-center bg-dark text-white">
    Welcome to you in the online service of Health Managemanet WebApp.
  </h1>
  <img src="/images/health.jpg" alt="">
  <h1 class="text-center bg-dark text-white">
    Please Click on Go to Profile button.
  </h1>
</div>
