<div class="text-center footer">
  <h3>All right reserved &copy; Techinfoyt</h3>
  <h4>Contact Us</h4>
  <h6>Health Management System pvt. ltd.</h6>
  <h6>Email: xyz@gmail.com</h6>
  <h6>Support: +91-8594-013-841</h6>
</div>
