<div id="home-container">
  <h1 class="p-2 text-white text-center mt-2">Welcome to <%= title %></h1>
  <p class="text-center text-white">
    Here are some tips to live a healthier life:
  </p>
  <h3 class="text-center text-white">Please Register to see free tips.</h3>
  <h3 class="text-center text-white">If already registered, please Sign-In.</h3>
</div>
