.nav-container {
  /* background: lightgreen !important; */
  font-size: 17px;
  font-weight: 700;
  color: white !important;
  border-bottom: 1px solid green;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(30, 1, 98) !important;
  /* border-radius: 20px; */
}
.navbar-brand {
  font-weight: 900;
  color: darkgreen !important;
  font-style: italic;
  letter-spacing: 5px;
  /* text-decoration: underline; */
  font-size: 25px !important;
}
.navbar-brand:hover {
  color: rgb(25, 182, 72) !important;
}
.d-flex {
  margin-left: 10rem;
}
/* .nav-link {
  color: rgb(52, 53, 52) !important;
  border: 1px solid black;
  border-radius: 5px;
}
.nav-link:hover {
  color: darkgray;
  /* border-bottom: 2px solid darkgray; */
/* background-color: rgb(25, 147, 25);
  border-radius: 5px;
} */
.btn {
  margin: 10px;
}

.search-bar {
  width: 30vw;
  height: 5vh;
}

.search-btn {
  margin-top: -0.001px;
  height: 5vh;
}
.profile-btn {
  list-style-type: none !important;
}
